h3{
    margin-left: 10px;
    text-align: center;
}
div> img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: linear-gradient(rgba(125, 24, 39, 0.75) 5%, rgba(255, 0, 0, 0.75) 49%, rgba(0, 0, 0, 0.75) 5%, rgba(255, 255, 255, 0.75) 49%, #CADBD1);
}
.pokemonContainer{
    border: 1px solid rgb(97, 97, 97);
    font-weight: bold;
    width: 250px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin: 10px;
    margin-left: 15px;
    padding-left: 35px;
    background-color: #cadbd1e3;
    cursor: pointer;
    transition: 0.2s all linear;
}
.pokemonContainer:hover{
    transform: scale(1.05);
    background-color: #cadbd1d7;
    opacity: 1;
}

.pokemonContainer:active{
    background-color: #a5a5a5;
}

.pokeList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
