h3{
    margin-left: 10px;
    font-size: 1.5em;
    text-align: center;
}
div> img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: linear-gradient(rgba(125, 24, 39, 0.60) 0%, rgba(255, 0, 0, 0.60) 49%, rgba(0, 0, 0, 0.60) 5%, rgba(255, 255, 255, 0.60) 0%);
}
.pokemonContainer{
    border: 1px solid rgb(97, 97, 97);
    font-weight: bold;
    width: 350px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin: 10px;
    margin-left: 15px;
    padding-left: 35px;
    background-color: #cadbd1e3;
    cursor: pointer;
    transition: 0.15s all linear;
    outline: none;
}
.pokemonContainer:hover{
    transform: scale(1.05);
    background-color: #cadbd1;
    opacity: 1;
}

.pokemonContainer:active{
    background-color: #a5a5a5;
}

.pokeList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul>li{
    margin: 10px;
}
ul>li>button{
    background-color: #405a77;
    outline: none;
    color: white;
    width: 30px;
    cursor: pointer;
}

ul>li>button:hover{
    background-color: #32465e;
}

@media (min-width:1100px){
    ul{
        display: grid;
        grid-template-columns: repeat(20, 50px);
        justify-content: center;
    }
}